# Spinel Distribution - cPanel Apache & Phusion Passenger Configuration

<IfModule mod_passenger.c>
  PassengerAppType node
  PassengerStartupFile app.js
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve existing static files directly
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
</IfModule>
